.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  min-height: 80vh;

  > p {
    max-width: 1200px;
    padding: 1rem 4rem;
  }

  @include media('<tablet') {
    margin: 0;
  }

  > a > i {
    font-size: 1.8rem;
    padding: 0;
    margin: 0 auto;
    color: color-list("text-dark");
    text-decoration: none;

    &:hover {
      color: color-list("accent");
    }
  }
}

.about-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  @include media('<desktop') {
    flex-wrap: wrap;
  }
}

.img-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 50%;
  animation: slideInLeft .75s ease both;
  max-width: 800px;

  @include media('<desktop') {
    padding: 0 1rem;
  }

  section {
    margin-bottom: 1rem;
    img { 
      margin: 1.5rem 1.5rem 1.5rem 0;
      height: 300px;
      width: 300px;
    }

  }
  > p {
    margin: 0.75rem;
  }
}

.link-button {
  padding: 0.25rem 1rem;
  background-color: color-list("accent");
  color: color-list("text-light");
  border-radius: 8px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 2rem;

  @include hocus {
    background-color: color-list("primary");
  }
}

.nodisplay {
  visibility: hidden;
}

.bar-group {
  margin: 0.75rem;
  flex: 1 0 50%;
  max-width: 500px;
  animation-name: slideInRight;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: both;
  animation-play-state: initial;
}


@keyframes slideInRight {
  0% {opacity: 0; transform: translateX(300px);};
  100% {opacity: 1; transform: translateX(0);};
}

@keyframes slideInLeft {
  0% {opacity: 0; transform: translateX(-300px);};
  100% {opacity: 1; transform: translateX(0);};
}

@keyframes slideInBottom {
  0% {opacity: 0; transform: translateY(300px);};
  100% {opacity: 1; transform: translateY(0);};
}