.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;

  > p {
    max-width: 1200px;
    padding: 1.5rem 4rem;
  }

  @include media('<tablet') {
    margin: 0;
  }
}

.img-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
  > img { 
    margin: 0.75rem;
    height: 300px;
    width: 300px;

    &.canhide {
      @include media('<tablet') {
        display: none;
      }
    }
  }

}
