.hero {
  height: 100vh;
  background: url("./assets/computerdark.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2MU4Vg7882P4HQGKGCEMTAEYCoxVAAAUA0IBXarHFAAAAAASUVORK5CYII=) repeat; 
}

.typing-wrapper{
  top: 20%;
	width: 100%;
  position: relative;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: white;
}

.header-intro {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	padding-bottom: 1rem;

	@include media('<tablet') {
		font-size: 1rem;
	}
}

.header-name {
	font-size: 4rem;
	font-weight: 700;
	@include media('<tablet') {
		font-size: 3rem;
	}
}

.header-typewriter{
	width: 15em;
	margin: 0 auto;
	padding-top: 1rem;
	border-right: 2px solid rgba(255,255,255,.75);
	text-align: center;
	font-size: 1.8rem;
	white-space: nowrap;
	overflow: hidden;
	@include media('<tablet') {
		font-size: 1rem;
	}
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(12) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}

@media screen and (max-width: 750px){
	.rw-sentence { font-size: 12px; }
}

@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

.skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
	padding: 2rem 0;
	max-width: 1000px;
  }
  
  .skills > div {
	margin: 2rem;
	max-width: 250px;
	flex: 1 1 33%;
  }