.hero {
  height: 100vh;
  background: url("./assets/computerdark.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2MU4Vg7882P4HQGKGCEMTAEYCoxVAAAUA0IBXarHFAAAAAASUVORK5CYII=) repeat; 
}

.rw-wrapper{
  margin: 0 auto;
  top: 30%;
	width: 70%;
  position: relative;
  font-size: 1.8rem;
  font-family: "Lora", serif;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: rgb(216, 216, 216);
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #bf9f5a;
	-webkit-animation: rotateWord 20s linear infinite 0s;
	-ms-animation: rotateWord 20s linear infinite 0s;
	animation: rotateWord 20s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 5s; 
	-ms-animation-delay: 5s; 
	animation-delay: 5s; 
	color: #bf9f5a;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 10s; 
	-ms-animation-delay: 10s; 
	animation-delay: 10s; 
	color: #bf9f5a;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #bf9f5a;
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	  80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

.skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
	padding: 2rem 0;
	max-width: 1000px;
  }
  
  .skills > div {
	margin: 2rem;
	max-width: 250px;
	flex: 1 1 33%;
  }