.projects {
  margin: 0 auto;
  max-width: 1180px;
  min-height: 100vh;

  > h2 {
    padding-top: 3rem;
  }
}

.port-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

.port-row > a {
  text-decoration: none;
}
