.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: color-list("dark");
  color: color-list("text-muted");
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.social-icons > a {
  text-decoration: none;
}

.social-icons > a > div > span.social-icon {
  color: color-list("text-muted");
  &:hover {
    color: color-list("text-light");
    background-color: color-list("accent");
  }
}

.social-icons > a > div > span.social-text {
  color: color-list("text-muted");
  &:hover {
    color: color-list("text-light");
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  border-top: 1px solid color-list("text-muted");
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}