.btn {
  padding: 1rem;
  color: color-list("text-light");
  font-size: 1.6rem;
  border-radius: 8px;
  background-color: color-list("accent");
  border: none;
  outline: none;

  @include hocus {
    background-color: color-list("primary");
  }
}

.btn-color {
  padding: 0.25rem 1rem;
  background-color: color-list("primary");
  color: color-list("text-light");
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  outline: none;

  &:hover {
    background-color: color-list("accent");
  }
}

.submit-btn {
  padding: 0.25rem 1rem;
  background-color: color-list("accent");
  color: color-list("text-light");
  border-radius: 8px;
  border: none;
  outline: none;

  &:hover {
    background-color: color-list("text-muted");
  }
}