.call-to-action {
  height: 50vh;
  background: url("./assets/waves.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cta-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2MU4Vg7882P4HQGKGCEMTAEYCoxVAAAUA0IBXarHFAAAAAASUVORK5CYII=) repeat; 
}

.cta-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
