.card {
  margin: 2rem 0;
  border: 1px solid color-list("text-muted");

  @include media('<tablet') {
    margin: 0.4rem 0;
  }
}

.image-box {
  position: relative;
  height: 180px;
  width: 350px;
  overflow: hidden;
  cursor: pointer;

  @include media('<tablet') {
    height: 120px;
    width: 233px;
  }
}

.card-image {
  width: 355px;
  height: 180px;
  object-fit: cover;
  object-position: top;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  @include media('<tablet') {
    height: 120px;
    width: 236px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.card-caption {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.1rem;
  color: color-list("text-dark");
  text-decoration: none;
}