.icon-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 1rem 0;
  
  i {
    color: rgb(2, 87, 87);
  }
  
}