.navbar {
  display: flex;
  justify-content: center;
  border-top: 1px solid color-list("header-border");
  border-bottom: 1px solid color-list("header-border");

}
.navbar > ul {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 64px;
}

.web-nav {
  @include media('<desktop'){
    display: none;
  }
}

.mobile-nav {
  @include media('>=desktop'){
    display: none;
  } 
}

.navbar > ul > a > li {
  position: relative;
  display: block;
  white-space: nowrap;
  top: 1px;
  float: left;
  padding: 0 20px;
  margin: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: color-list("text-dark");
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid color-list("accent");
    color: color-list("accent");
    background-color: transparent;
  }

  &.selected {
    border-bottom: 2px solid color-list("primary");
  }

  @include media('<tablet'){
    padding: 0 5px;
    font-size: 12px;
  } 
}

