//----------------------------------
//    Application-wide Variables
//----------------------------------

/// Regular font family
/// @type List
$base-font-family: 'Raleway', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

/// Color Map
/// @type List
// Blues
// $color-list: (
// 	'primary': #003459, 
// 	'accent': #007EA7,
// 	'emphasis': #00A7E1,
// 	'dark': #2E282A,
// 	'text-light': #ffffff,
// 	'text-dark': #000000,
// 	'text-muted': #a8a8a8,
// );

// Brights
$color-list: (
	'primary': #26547C, 
	'accent': #DA2C38,
	'dark': #303036,
	'resume-header': #f2f9fc,
	'header-border': #e8e8e8,
	'text-light': #ffffff,
	'text-dark': #050401,
	'text-muted': #a8a8a8,
);

/// Z-indexes
/// @type List

$z-indexes: (
	'modal': 400,
	'dropdown': 200,
	'default': 1,
	'below': -1, 
);


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;